VITE_FIREBASE_CONFIG='{
  "apiKey": "AIzaSyBxxxxxxx",
  "authDomain": "haru-studio-manager.firebaseapp.com",
  "databaseURL": "https://haru-studio-6917a-default-rtdb.firebaseio.com",
  "projectId": "haru-studio-manager",
  "storageBucket": "haru-studio-manager.appspot.com",
  "messagingSenderId": "123456789",
  "appId": "1:123456789:web:abcdef"
}'
